
*{
    padding: 0;
    margin: 0;
}
/* ----- REGULAR CARD IMAGES ----- */

.flex-container img {
    width: 300px;
    height: 412.2px;
    transform: scale(0.6);
    transition: transform 0.5s, opacity 0.5s;
    margin-bottom: -40px;
    padding: 0;
}

.flex-container img:hover {
    opacity: 1;
    transform: scale(1);
}

/* ----- DECK IMAGES ----- */

.flex-container2 img {
    width: 157.5px;
    height: 216.5px;
    transform: scale(0.5);
    transition: transform 0.5s, opacity 0.5s;
    margin-bottom: -40px;
    margin-left: -40px;
    float: left;
}



.flex-container2 img:hover {
    opacity: 1;
    transform: scale(0.8);
    margin-left: -40px;

}

/* ----- TEXT ----- */

.title {
    text-align: center;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(230, 195, 0);
    font-size: 60px;
    /* margin-left: 750px; */
    margin-top: 40px;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: azure;
}


.deck {
    margin-left: 500px;
    margin-top: 20px;
}

.cards-word {
    font-size: 40px;
    margin-top: 50px;
    /* margin-left: 880px; */
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.deck-word {
    margin-bottom: -20px;
    font-size: 35px;
    /* margin-left: 900pZ */
}

.d-inline-flex {
    padding: 0 5%;
    justify-content: flex-start;
}

/* ----- BUTTONS ----- */

.btn-dark,
.btn-warning {
    margin-top: -2px;
    margin-left: -5px;
}

.btn-warning{
    margin-left: -1px;
    margin-right: 4.5px;
}

.the-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    padding: 10px;
}

.section-page {
    flex-wrap: wrap;
}

@media only screen and (max-width: 620px) {
    .flex-container img {
        width: 150px;
        height: 200px;
        transform: scale(0.6);
        transition: transform 0.5s, opacity 0.5s;
        margin-bottom: -40px;
        padding: 0;
    }
    
    .flex-container img:hover {
        opacity: 1;
        transform: scale(0.8);
    }

    .cards-word {
        font-size: 40px;
        margin-top: 0px;
        /* margin-left: 880px; */
    }

    .d-inline-flex {
        justify-content: center;
    }

    .flex-container2 img {
        margin-left: 0;
    }

    .flex-container2 img:hover {
        margin-left: 0;
    }
}